<aside class="site__menu">
    <nav class="site__menu__nav">
        <ul>
            <li><a href="/migration">迁移指南</a></li>
            <li><a href="/help">帮助中心</a></li>
            <li><a href="/parse-doc-zh">中文文档</a></li>
            <li><a href="http://blog.parse.com/">官方博客</a></li>
        </ul>
    </nav>

    <div class="site__menu__socials">
        <h4 class="h4">保持联系</h4>

        <ul>
            <li>
                <a href="https://www.facebook.com/parseit">
                    <svg class="icon icon-fb"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#fb"></use></svg>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/parseit">
                    <svg class="icon icon-twitter"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#twitter"></use></svg>
                </a>
            </li>
            <li>
                <a href="https://parseplatform.github.io">
                    <svg class="icon icon-github"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#github"></use></svg>
                </a>
            </li>
            <li>
                <a href="http://stackoverflow.com/questions/tagged/parse.com">
                    <svg class="icon icon-stack-overflow"><use xlink:href="{{ site.baseurl }}/assets/symbols.svg#stack-overflow"></use></svg>
                </a>
            </li>
        </ul>

        <p class="site__menu__build-together">让我们一起创建吧！</p>
    </div>
</aside>
